/* Chatroom.module.css */

.background {
  display: flex;
  background-color: #829191;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  max-width: 800px;
  width: 100%;
  padding: 30px;
  background-color: #ffffff;
  color: #333;
  margin-left: 250px; /* Added margin-left */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.responsesContainer {
  width: 100%; /* Ensure responses take full width */
  margin-bottom: 20px; /* Add margin bottom for spacing between responses */
}
.header {
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
}

.header2 {
  font-size: 21px;
  color: #333;
  margin-top: 30px;
}

.p {
  color: #333;
  font-size: 16px;
  margin-bottom: 15px;
}

.button {
  background-color: #465957;
  color: #ffffff;
  border: none;
  width: 100px;
  height: 30px;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 1px;
}

.img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

.cloudinary_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4c5b61;
  border: none;
  color: #ffffff;
  font-size: 15px;
  width: 150px;
  height: 30px;
  cursor: pointer;
  border-radius: 1px;
  margin-left: 10px;
}

.input {
  width: 200px;
  height: 30px;
  font-size: 14px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.submit_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4c5b61;
  border: none;
  color: white;
  height: 50px;
  width: 300px;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 1px;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .button,
  .cloudinary_button,
  .submit_button {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.userListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  width: 100%;
  padding: 30px;
  background-color: #ffffff;
  color: #333;
  border-left: 2px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

.userList {
  list-style: none;
  padding: 0;
}

.userListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.userListItem p {
  margin: 0;
}

.userListItem .button {
  width: 80px;
  font-size: 12px;
  margin-top: 5px;
  border-radius: 1px;
}

.formRow {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
