.Navbar {
  background-color: #68a186;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  height: 100px;
  width: 100%;
}

.Navbar h1 {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
}
