.pageBackground {
  width: 100vp;
  height: 100vh;
  background-color: #829191;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.title {
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
}

.content {
  display: flex;
  flex-direction: column;
}
.twoButtons {
  margin-top: 100x;
  margin-right: 100px;
  margin-left: 100px;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.login {
  display: grid;
  background-color: #4c5b61;
  border: none;
  color: white;
  margin-top: 100px;
  height: 50px;
  width: 400px;
  font-size: 30px;
  text-align: center;
  align-self: center;
}

.login:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in;
  font-weight: 500;
}

.signup {
  display: grid;
  background-color: #4c5b61;
  border: none;
  color: white;
  margin-top: 25px;
  height: 50px;
  width: 400px;
  font-size: 30px;
  text-align: center;
  align-self: center;
}

.signup:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in;
  font-weight: 500;
}

.subtitle {
  color: #fff;
  font-size: 30px;
}
