.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #829191;
  margin-left: 250px;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  width: 90%;
}

.input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #465957;
}

.p {
  font-size: 20px;
  color: #333333;
  margin-top: 15px;
}

.cloudinary_button,
.submit_button {
  background-color: #4c5b61;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 15px 20px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.cloudinary_button:hover,
.submit_button:hover {
  background-color: #3a4c59;
}

.h1 {
  font-size: 30px;
  color: #333333;
  margin-bottom: 20px;
  text-align: center;
}

.error {
  color: #ff0000;
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
}
